*.psd filter=lfs diff=lfs merge=lfs -text
myfile filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*mp3 filter=lfs diff=lfs merge=lfs -text
*.wfp filter=lfs diff=lfs merge=lfs -text
